<div class='panel panel-default'>
  <div class="panel-heading">Zoektips</div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li>Kies "match alles" om in alle velden te zoeken.
     </li>

     <li>Select "match iets" om treffers op tenminste 1 veld te vinden.
     </li>

     <li>Combineer personen, titelwoorden, eigenaar en jaar om specifieke items te vinden.
     </li>

      <li>Gebruik aanhalingstekens om op de hele frase te zoeken.</li>
     
     <li>Gebruik "+" voor een term om hem verplicht te maken. (Standaard worden resultaten met 1 of meer van de termen gevonden).</li>
     
      <li>Gebruik "-" voor een woord of frase om uit te sluiten. </li>

     <li>Gebruik "OR", "AND", en "NOT" om complexe booleaanse logica te maken. Je kan haakjes gebruiken in de expressie.</li>

   </ul>
  </div>
</div>