<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="footer-menu">
            <ul class="list-unstyled list-triangle list-group row">
              <li class="col-md-6"><a href="https://vu.nl/nl/over-de-vu/diensten/universiteitsbibliotheek/meer-over/hdc-bibliografie-van-nederlandse-protestantse-periodieken-bnpp" target="_blank">Meer over
                BNPP</a></li>
              <li class="col-md-6"><a href="https://vu.nl/nl/over-de-vu/diensten/universiteitsbibliotheek/meer-over/werkwijze-bnpp-en-beschrijving-periodieken" target="_blank">Werkwijze
                en beschrijving</a>
              </li>
              <li class="col-md-6">
                <%= link_to 'Lijst vind- en bewaarplaatsen', root_path << "documenten/Afko's_Bibliotheken_tcm215-150611.pdf" %>
              </li>
              <li class="col-md-6">
                <%= link_to 'Algemene afkortingen', root_path << "documenten/Afko's_Algemeen_tcm215-150609.pdf" %>
              </li>
              <li class="col-md-6">
                <%= link_to 'Data', data_path %>
              </li>
              <li class="col-md-6"><a href="https://vu.nl/nl/over-de-vu/diensten/universiteitsbibliotheek/meer-over/collectie-hdc-protestants-erfgoed" target='_blank'>Website HDC</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-links" style="text-align: center">
        <ul class="list-unstyled">
          <li>© Historisch Documentatiecentrum Vrije Universiteit Amsterdam <%= Time.zone.now.year %>
            | &nbsp;<a href="https://vu.nl/nl/over-de-vu/diensten/universiteitsbibliotheek/meer-over/team-bijzondere-collecties">Contact</a></li>
          <li><strong>Developed by</strong>
            <a class="" href="https://vu.nl/nl/over-de-vu/diensten/universiteitsbibliotheek">University Library Vrije Universiteit Amsterdam</a> |
            <strong>Powered by</strong>
            <a class="hide-text ckan-footer-logo" href="http://projectblacklight.org/">Blacklight</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5775959-12"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-5775959-12');
</script>
 -->