<div class="">
  <div><p ><img style="WIDTH: 240px; FLOAT: right; HEIGHT: 317px" title="BNPP deel1" alt="BNPP deel1" width="240" height="317"  src="http://hdc.vu.nl/nl/Images/BNPPdeel1_tcm215-143921.jpg" /></p><p >Op 22 maart 2013 werd het project Bibliografie van Nederlandse Protestantse Periodieken (BNPP) afgesloten. Periodieken behoren tot de omvangrijkste en rijkste bronnen van de geschiedenis van het Nederlands protestantisme. In het tijdschrift is de stroom van de tijd van maand tot maand, van week tot week, of soms van dag tot dag vastgelegd. Minder individueel dan een brief en actueler dan een uitgave in boekvorm, bieden kranten en tijdschriften informatie over de samenleving waarin ze verschenen, de redacties die ze samenstelden en de lezersgroep waarvoor ze bedoeld waren.
    <br /><br />
    Het BNPP-project behelst een inventarisatie en beschrijving van meer dan 3.200 protestantse periodieken die sinds 1800 in Nederland zijn verschenen. Het project is opgezet in 1988. Van meet af aan is overleg en samenwerking gezocht met het Katholiek Documentatiecentrum (Radbouduniversiteit, Nijmegen), dat al in 1973 begonnen was met de Bibliografie van Katholieke Nederlandse Periodieken (BKNP).
    <br /><br />
    Aangezien het Nederlands protestantisme bekend is om zijn leescultuur, was te verwachten dat beschrijving van protestantse titels van de laatste twee eeuwen een gigantisch karwei zou zijn. Daarom werd al bij de start een beroep gedaan op de achterban van het HDC, van waaruit zich een groep van circa 25 vrijwillige medewerkers meldde die met voorgedrukte formulieren her en der in het land periodieken beschreven: titel, ondertitel, looptijd, eigenaar, drukker, formaat, frequentie, oplage, prijzen, foto’s, tekeningen, redactie en medewerkers werden en worden systematisch beschreven.
    <br /><br />
    Er zijn in totaal tien delen in druk verschenen. Het HDC streeft ernaar de gegevens uit het BNPP-project ook via het internet beschikbaar te stellen.</p><p >De uitgave van de delen werd mede mogelijk gemaakt door de steun van het <a href="http://lucasoomsfonds.nl/">Lucas-Ooms Fonds</a>, Amsterdam.</p><p ><a title="Register BNPP"  src="/nl/Images/Registers_tot_en_met_zes_tcm215-150481.pdf" href="http://hdc.vu.nl/nl/Images/Registers_tot_en_met_zes_tcm215-150481.pdf">Register op de delen 1 tot en met 6 (PDF-bestand)</a>
    <br /><a title="BNPP titels"  href="http://www.hdc.vu.nl/nl/online-informatie/bnpp/titels/index.aspx">Direct naar de titels</a><br /><a title="bnpp bestellen"  href="http://www.hdc.vu.nl/nl/online-informatie/bnpp/bestellen/index.aspx">Direct bestellen</a></p><p ><strong><br />
    Uw bijdrage?
    <br /></strong> Voor de volledigheid en juistheid van de bibliografie is het Documentatiecentrum deels afhankelijk van de gebruikers van die bibliografie. Mocht u aanvullingen hebben op onze gegevens, of een fout constateren, neemt u dan contact op met de coördinatoren.
    <br />
    U wordt ook verzocht contact op te nemen met de coördinatoren als u periodieken uit de protestants-christelijke traditie bezit die u wilt afstaan.
    <br />
    En, misschien wel de belangrijkste bijdrage, u kunt zich aanmelden als vrijwilliger om te helpen bij het verzamelen van de gegevens voor de bibliografie.</p><p ><strong>Contact
    <br /></strong>HDC Vrije Universiteit
    <br />
    De Boelelaan 1105, kamer 1B-34
    <br />
    1081 HV Amsterdam
    <br />
    (t) +31(0)20-59 85270
    <br />
    (e) <a href="mailto:hdc@vu.nl">hdc@vu.nl</a></p><p ><strong><br />
    Roel Huizenga
    <br /></strong> Op 9 december 2011 nam drs. Roel Huizenga afscheid als coördinator van het project. Hij ontving bij dat afscheid de <a title="Hovyfolder"  src="http://hdc.vu.nl/nl/Images/Hovy_Brochure_Web_tcm215-333684.pdf" href="/nl/Images/Hovy_Brochure_Web_tcm215-333684.pdf">Willem Hovy Penning</a> uit handen van de bibliothecaris van de UB VU, mw. drs. José Frijns.
    <br /><a title="Roel_over_BNPP"  src="http://hdc.vu.nl/nl/Images/Roel_BNPP_tcm215-274784.pdf" href="/nl/Images/Roel_BNPP_tcm215-274784.pdf">Roel beschreef op verzoek van het HDC zijn ervaringen met het project.</a></p><p ><strong>Piet Moleveld
    <br /></strong>Theoloog Piet Moleveld, vrijwilliger-coördinator van de vrijwilligers, ontving op 22 maart 2013, bij fe afsluiting van het BNPP-project de <a title="Hovyfolder"  src="http://hdc.vu.nl/nl/Images/Hovy_Brochure_Web_tcm215-333684.pdf" href="/nl/Images/Hovy_Brochure_Web_tcm215-333684.pdf">Willem Hovy Penning</a> voor zijn jarenlange werkzaamheden voor het project.</p></div>
</div>

