<h1>Over BNPP</h1>
<div>
<p>
  In 1988 begon het Historisch Documentatiecentrum aan de Bibliografie van Nederlandse Protestantse Periodieken (BNPP), een inventarisatie en beschrijving van meer dan 3.200 protestantse periodieken die sinds 1800 in Nederland zijn verschenen. Het project werd opgezet in overleg en samenwerking met het Katholiek Documentatiecentrum (Radbouduniversiteit, Nijmegen), dat al in 1973 begonnen was met de Bibliografie van Katholieke Nederlandse Periodieken (BKNP).
</p>

  <p>
    Periodieken behoren tot de omvangrijkste en rijkste bronnen van de geschiedenis van het Nederlands protestantisme. In het tijdschrift is de stroom van de tijd van maand tot maand, van week tot week, of soms van dag tot dag vastgelegd. Minder individueel dan een brief en actueler dan een uitgave in boekvorm, bieden kranten en tijdschriften informatie over de samenleving waarin ze verschenen, de redacties die ze samenstelden en de lezersgroep waarvoor ze bedoeld waren.
    Aangezien het Nederlands protestantisme bekend is om zijn leescultuur, was te verwachten dat beschrijving van protestantse titels van de laatste twee eeuwen een gigantisch karwei zou zijn. Daarom werd al bij de start een beroep gedaan op de achterban van het HDC, van waaruit zich aanvankelijk een groep van circa 25 vrijwillige medewerkers meldde die met voorgedrukte formulieren her en der in het land periodieken beschreven: titel, ondertitel, looptijd, eigenaar, drukker, formaat, frequentie, oplage, prijzen, foto’s, tekeningen, redactie en medewerkers werden systematisch beschreven.
  </p>

  <p>
    In maart 2013 werd het BNPP-project afgesloten met de verschijning van het tiende deel, het zogenaamde register-deel.
  </p>
  <p>
    Het was de bedoeling de gegevens digitaal ter beschikking te stellen, maar voornamelijk vanwege de vorm waarin de gevonden gegevens waren vastgelegd (Word- en PDF bestanden) bleek dit heel lang niet verder te komen dan presentatie van bijna 3.000 titels als PDF bestand op de website. Doorzoeken was mogelijk, maar moeizaam.
    Peter Vos, ontwikkelaar ICT en medewerker van de UBVU afdeling Research Support is er in geslaagd de enorme hoeveelheid gegevens dusdanig te bewerken dat de Bibliografie van Nederlandse Protestantse Periodieken nu zeer goed doorzoekbaar is en onderzoekers zelf met de gegevens aan de slag kunnen.
  </p>
  <p>
    Het aanvullen dan wel corrigeren van de gepresenteerde data is nu ook mogelijk, dus bij dezen een oproep aan de gebruiker: meld ons als u te corrigeren zaken vindt. Dat doet u door een e-mail te sturen aan <a href="mailto:m.i.bleeker@vu.nl">m.i.bleeker@vu.nl</a>
  </p>
  <p>
  <b>Contact</b><br>
    HDC | Protestants Erfgoed<br>
    De Boelelaan 1105, kamer 1B-41<br>
    1081 HV Amsterdam<br>
    (t) +31 (0) 20 598 1446<br>
    (e) m.i.bleeker@vu.nl<br>
  </p>
  <p>
    In totaal zijn er tien delen verschenen, met beschrijvingen van meer dan 3.000 titels. De  boeken verschijnen in een reeks die het HDC uitgeeft in samenwerking met EON Pers Amstelveen. De delen 1-3 zijn gebonden boeken, met leeslint, latere delen werden eenvoudiger uitgegeven.
    De delen zijn nog steeds beschikbaar.
  </p>
  <h3>Zoeken door de BNPP</h3>
  <p>Deze website stelt u in staat door de delen van de Bibliografie te zoeken.</p>
  <p>Voorbeelden:</p>
  <ul>
    <li>Door alle tekst van de beschrijvingen zoeken:
         <a href="/?search_field=all_fields&q=evangelie" target="_blank">zoekterm <b>evangelie</b></a>
    </li>
    <li>
      Met behulp van de <i>facets</i> zoeken bij welke periodieken personen samen voorkomen (als redactielid dan wel medewerker): <a href="/?f%5Bpersonen_sm%5D%5B%5D=Bakker%2C+R.&f%5Bpersonen_sm%5D%5B%5D=Boeker%2C+E." target="_blank"><b>Bakker R.</b> en <b>Boeker, E.</b></a>
    </li>
    <li>
      Zoeken op jaar, alle periodieken die in 1900 actief waren: <a href="/?search_field=verschenen_dtr&q=1900" target="_blank">jaar <b>1900</b></a>
    </li>
    <li>
      Alle periodieken die van 1850 tot 1900 actief waren: <a href="/?search_field=verschenen_dtr&q=1850+TO+1900">jaar <b>1850 TO 1900</b></a>
    </li>
  </ul>
  <p>Zie voor meer informatie de links onderaan de pagina.</p>
</div>
