// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
//@import 'blacklight_marc';

/* Sortable tables */
table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: pointer;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE"
}

#recordTable {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
#recordTable .fit {
  min-width: 140px;
}

table .absorbing-column {
  width: 100%;
}

.field {
  display: inline-block;
  width: 100%;
}

.parsed {
  float: right;
  width: 50%;
  padding-left: 10px;
  font-style: italic;
  color: darkgrey;
  font-size: 0.9em;
}

.parsed th {
  margin-bottom: 4px;
}
.parsed table, th {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.parsed td, th {

  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 0px 5px 0px 5px;

}

.parsed table {
  width:100%;
  margin-top: -18px;
}
.record-form .field {
  border: 1px dotted grey;
  padding: 15px;
}

label {
  display: block;
}

textarea {
  width: 50%;
  min-height: 50px;
  padding-left:10px;
  padding-right:10px;
  font-size: 0.9em;
}

.info {
  font-size: 0.8em;
  color: darkgrey;
}

